[Desktop Entry]
Name=ks-tools
GenericName=ks-tools
X-GNOME-FullName=ks-tools
Comment=Tools for upload, convert and crop/mix video/audio files.
Exec=/usr/share/ks-tools/ks-tools
Icon=/usr/share/ks-tools/ks-tools.svg
Terminal=true
Type=Application
StartupNotify=true
Categories=Network;FileTransfer;Utility;
